body {
    margin: 0;
    padding: 0;
    text-align: center;
}
.headback {
    position: absolute;
    width: 100%;
}
.headback img {
    position: relative;
    width: 100%;
    height: 100px;
    border-radius: 20px;
    top: -22px;
    box-shadow: 0px 0.5px 10px;
}
.head {
    position: relative;
    top: 20px;
}
.img img {
    position: absolute;
    z-index: 5;
    width: 200px;
    left: 40px;
    border-radius: 20px;
}
.pickcher1 {
    position: absolute;
    top: 230px;
}
.pickcher2 {
    position: absolute;
    top: 410px;
}
.pickcher3 {
    position: absolute;
    top: 40px;
}
.img {
    background-color: rgb(13, 14, 14);
    width: 280px;
    height: 640px;
    z-index: 0;
    box-shadow: 0px 1px 10px;
    border-bottom-right-radius: 19px;
    top: 70px;
    box-sizing: border-box;
    border-top-right-radius: 19px;
}
.idform {
    position: absolute;
    top: 130px;
    color: black;
    right: 20px;
    font-weight: bolder;
    font-size: large;
}
form {
    position: absolute;
    top: 180px;
    right: 20px;
    width: 780px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.87);
    border: 0.1px solid rgb(253, 250, 250);
    box-shadow: -5px 5px 25px -10px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    font-weight: bold;
}
.two1 {
    position: relative;
    display: flex;
    justify-content: space-around;
    left: 35px;
    top: 40px;
    background-color: rgb(250, 242, 160);
    width: 740px;
    padding-top: 7px;
    border-start-end-radius: 20px;
    border-end-start-radius: 20px;
    box-shadow: -5px 5px 10px -6px;
}
.two2 {
    position: relative;
    display: flex;
    justify-content: space-around;
    left: 26px;
    top: 70px;
    background-color: rgb(183, 114, 173);
    width: 740px;
    padding-top: 7px;
    border-start-end-radius: 20px;
    border-end-start-radius: 20px;
    box-shadow: -5px 5px 10px -6px;
}
.two3 {
    position: relative;
    display: flex;
    justify-content: space-around;
    left: 18px;
    top: 110px;
    background-color: rgb(147, 173, 212);
    width: 740px;
    padding-top: 7px;
    border-start-end-radius: 20px;
    border-end-start-radius: 20px;
    box-shadow: -5px 5px 10px -6px;
}
.btn {
    position: relative;
    top: 120px;
}
.lastname input {
    font-size: 15px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 0.1px solid rgb(130, 128, 128);
}
.name input {
    font-size: 15px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 0.1px solid rgb(130, 128, 128);
}
.codmeli input {
    font-size: 15px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 0.1px solid rgb(130, 128, 128);
}
.choosercar select {
    font-size: 15px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 0.1px solid rgb(130, 128, 128);
}
.date input {
    font-size: 15px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 0.1px solid rgb(130, 128, 128);
}
